<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Urban Bike Journey</title>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js'></script>
    <script src='/angular_apps/urbanbikejourney.js'></script>
    <script src='/angular_apps/controllers/directions.js'></script>
  </head>

  <body ng-app='urbanBikeJourney'>
    <h1>Urban Bike Journey</h1>

    <section id="directions" ng-controller='DirectionsCtrl'>
      <input type="text" name="from" id="from" placeholder="from:" ng-model="directionsModel.from" />
      <input type="text" name="to" id="to" placeholder="from:" ng-model="directionsModel.to"/>
      
      <h1>Directions {{directionsModel.from}} to: {{directionsModel.to}}</h1>
    </section>
  </body>
</html>
