.container
  .col-xs-6
    %div
      %h2 CitiBikes
    %div(ng-controller="CitiBikeDetailCtrl")

      %ng-form(name="citiBikeDetailForm")
        %input(ng-model="station.id" placeholder="Enter ID" type="text")
        %input(ng-model="station.name" placeholder="Enter Name" type="text")
        &nbsp
        %button(ng-click="cancel()") Cancel
